

@media (prefers-color-scheme: dark) {
  :root {
    --text: #9ca3af;
    --text-h: #f3f4f6;
    --bg: #16171d;
    --border: #2e303a;
    --code-bg: #1f2028;
    --accent: #c084fc;
    --accent-bg: rgba(192, 132, 252, 0.15);
    --accent-border: rgba(192, 132, 252, 0.5);
    --social-bg: rgba(47, 48, 58, 0.5);
    --shadow:
      rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;
  }
}

#root {
  max-width: 100%;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

h1 {
  color: white;
  font-size: 80px;
}

h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}

h3{
  font-size: 40px;
}

p{
  margin-left: 70px;
  margin-right: 70px;
}

strong{
  color: darkgreen;
}


.custom-dropdown-box .dropdown-menu {
  transform: translateY(-20px);
}

.dropdown-menu :hover{
  color: green;
}
.dropdown-menu :active{
  color: green;
}

.custom-dropdown-box :hover{
  color: green;
}
.custom-dropdown-box :active{
  color: green;
}